<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Đồ ăn đêm</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>


    <h1>Đồ ăn đêm</h1>

    <!-- Item list -->

    <div class="container">
      <!--  A single item -->
      <div class="row">
        {% for food in food_list %}
          <div class="col-md-4">
            <div class="mb-4 card">
              <img class="img-fluid item-img" src="{{ food["image"] }}" alt="">

              <div class="card-body">
                <h4>{{ food["name"] }}</h4>
                <div>{{ food["price"] }} đ</div>
                <p>{{ food["description"] }}</p>
              </div>

              <div class="card-footer">
                <button class="btn btn-sm btn-primary float-right" type="button" name="button">Thêm vào giỏ</button>
              </div>


            </div>

          </div>

        {% endfor %}
      </div>

    </div>




  </body>
</html>
